@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: "Roboto", sans-serif;
}
.navigation {
    display: flex;
    justify-content: flex-end;
}
.nav {
    display: flex;
    gap: 20px;
    margin-right: 120px;
    font-size: 20px;
    text-underline: none;
}

li {
    list-style-type: none;
}