@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #8ECAE6;
    background-image: url("images/florida-pano.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

* {
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    height: 170px;

}

a {
    text-decoration: none;
}

header .header-title {
    position: relative;
    left: 10px;
    bottom: 70px;
}

nav .nav-buttons {
    display: flex;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
    font-size: 30px;

}

#city-1 {
    background-image: url("images/tallahassee.jpg");
    background-size: cover;
    color: white;
    font-size: 25px;
}

#city-2 {
    background-image: url("images/orlando.jpg");
    background-size: cover;
    color: white;
    font-size: 25px;
}

#city-3 {
    background-image: url("images/tampa.jpg");
    background-size: cover;
    color: white;
    font-size: 25px;

}
a {
    color: black;
}


.section {
    display: flex;
}

.section-p {
    width: 50%;
    font-size: 20px;
    margin: 0px auto 0px 0px;
    background-color: #0d7dce;
    color: white;
    text-shadow: 1px 2px 3px black;

}

.section a {
    border: 2px solid pink;
    color: black;
    width: 200px;
    text-align: center;


}

section .section-table {
    background-color: orange;
}

aside {
    background-color: yellow;
}

aside .aside-p {
    background-color: crimson;
}

aside .aside-list {
    background-color: mediumblue;
}